flask
flask-restplus
flask-cors
requests==2.23.0
chatterbot==1.0.5
Werkzeug==2.2.3
uWSGI==2.0.18
numpy
git+https://github.com/facebookresearch/fastText.git
pyyaml>=5.1
mysql-connector
anyjson==0.3.3
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
nltk==3.5
